@import url(./satoshi.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: grey;
}

.h1 {
  font-family: 'Satoshi-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.7px;
  color: #101214;
}

.h2 {
  font-family: 'Satoshi-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  color: #575E62;
}

.text {
  font-family: 'Satoshi-Regular';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 140%;
color: #101214;
}

.header {
  margin: 0 auto;
  padding: 32px 32px 27px;
  width: 595px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.title-container {
  display: flex;
  align-items: center;
  min-width: 335px;
  width: 100%;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.avatar img {
  width: 92px;
  height: 92px;
}

.header ul {
  list-style: none;  
}

li {
  display: flex;
  justify-content: end;
}

.main {
  margin: 0 auto;
  width: 595px;
  padding: 0 32px;
  background-color: #fff;
}