@import url(./satoshi.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: grey;
}

.h1 {
  font-family: 'Satoshi-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.7px;
  color: #101214;
}

.h2 {
  font-family: 'Satoshi-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  color: #575E62;
}

.h3 {
  font-family: 'Satoshi-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 160%;
  text-transform: uppercase;
  color: #575E62;
  margin-bottom: 5px;
}

.h4 {
  font-family: 'Satoshi-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 150%;
  color: #575E62;
}

.h4-occupation {
  font-family: 'Satoshi-Black';
  color: #101214;
}

.h5-company {
  font-family: 'Satoshi-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 140%;
  color: #3A3F45;
  margin-top: 2px;
  margin-bottom: 3px;
}

.h5-date {
  font-family: 'Satoshi-MediumItalic';
  font-style: italic;
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  color: #575E62;
  margin-bottom: 1px;
}

.text {
  font-family: 'Satoshi-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  color: #101214;
}

.header {
  margin: 0 auto;
  padding: 32px 32px 27px;
  width: 595px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.title-container {
  display: flex;
  align-items: center;
  min-width: 335px;
  width: 100%;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.avatar img {
  width: 92px;
  height: 92px;
}

.header ul {
  list-style: none;
}

.header-contacts li {
  display: flex;
  justify-content: end;
}

.main {
  margin: 0 auto;
  width: 595px;
  padding: 0 32px;
  background-color: #fff;
}

.p-about {
  margin-bottom: 24px;
}

.container-description {
  display: flex;
  width: 100%;
  gap: 24px;
}

.left-column {
  width: 166px;
}

.right-column {
  width: 337px;
  margin-bottom: 32px;
}

.skills,
.education {
  margin-bottom: 25px;
}

.ul-skills {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ul-skills ul {
  list-style: disc;
  margin-left: 18px;
}

.languages ul {
  margin-left: 18px;
}

.right-column ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}